{% extends 'base.html' %}
{% block content %}

   <div class="col-8 m-auto pt-2 pb-2 text-center">
       <h1>CADASTRO DE CLIENTES</h1>
   </div>
   <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="{% url 'formulario_pf' %}" class="btn btn-success">Adicionar</a>
   </div>
   <div class="col-8 m-auto pt-8 pb-2 text-center">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome Completo</th>
                <th scope="col">CPF</th>
                <th scope="col">Chave Acesso</th>
                <th scope="col">Senha Acesso</th>
                <th scope="col">Email</th>
                <th scope="col">Situação</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
                {% for dbs in db %}
                    <tr>
                        <td>{{dbs.id}}</td>
                        <td>{{dbs.nome_completo}}</td>
                        <td>{{dbs.cpf}}</td>
                        <td>{{dbs.chave_ecac}}</td>
                        <td>{{dbs.senha_ecac}}</td>
                        <td>{{dbs.email}}</td>
                        <td>{% if dbs.ativo %}
                        Ativo
                        {% else %}
                        Inativo
                        {% endif %}
                        </td>
                        <td class="btn-group" >
                            <a href="/visualizarClientePf/{{dbs.id}}/" class="btn btn-dark">Visualizar</a>
                            <a href="/editarClientePf/{{dbs.id}}/" class="btn btn-primary">Editar</a>
                            <a href="/deletarClientePf/{{dbs.id}}/" class="btn btn-danger">Deletar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
 {% endblock %}